* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.App {
  position: absolute;
  background-image: linear-gradient(to bottom right, #FFEFD3, #FFEFD3);
 /* background-image: linear-gradient(to bottom right, rgb(22, 129, 252), rgb(109, 64, 245)); */
  min-height: 100vh; /* Ensures it fills the full height of the viewport */
  width: 100vw; /* Ensures it fills the full width of the viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.niceBox {
  position: relative;
  background-color: cornflowerblue;
  padding: 0px;
  height: 300px;
  width: auto;
  margin: 0px;
  border: 10px solid black;
  box-sizing: border-box;
  
}

.lowerNiceBox {
  position: relative;
  display: inline-block;
  background-color: cornflowerblue;
  padding: 0px;
  height: 100%;
  width: 50%;
  margin: 0px;
  border: 1px solid magenta;
  box-sizing: border-box;
  text-align:center;
}

.lowerNiceBox2 {
  position: absolute;
  background-color: cornflowerblue;
  padding: 0px;
  height: 25%;
  width: 50%;
  margin: 0px;
  border: 1px solid magenta;
  box-sizing: border-box;
  text-align:center;

  right: 0px;
  bottom: 0px;
  
}

.left {
  color:bisque;
}

.slider {
  color:black;
  
}